import(tuneR)
export(arsmooth,
       cepstrum,
       collect.absolute.energy,
       collect.energy,
       detect.events,
       fast.soundpoints,
       get.freq.res,
       get.time.res,
       hamming,
       landmark.plot,
       make.peaks,
       plot.cepstrum,
       plot.spg,
       sample.rate.spg,
       smooth.average,
       soundpoints,
       spectrogram,
       standard.spg.image,
       test.plot)
       
